<header>
    <nav class="nav">
        <ul class="nav-items">
            <li>Home</li>
            <li>Portfolio</li>
            <li>Technologies</li>
            <li>Computer Science Notes</li>
            <li>Contact</li>
        </ul>
    </nav>
</header>