.heading {
    color: var(--green);
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.desc {
    font-weight: 300;
    font-size: 1rem;
    color: var(--white);
    margin-bottom: 2rem;
}


.github {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.github-icon-container {
    width: 10rem;
    margin-right: 2rem;
}

.github-icon {
    height: 10rem;
    width: 10rem;
    filter: invert(100%);
    user-select: none;
}

.github-para {
    color: var(--gray);
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.github-cta {
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    color: #FFF;
    background-color: var(--blue);
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.95rem;
}

.github-cta:hover {
    filter: brightness(1.1);
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.project {
    background-color: #222;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    display: flex;
    margin-bottom: 2rem;
}

.project img {
    width: 30%;
    object-fit: cover;
}

.project-text h3 {
    color: var(--white);
    margin-bottom: 0.5rem;

}

.project-text p {
    color: var(--gray);
    width: 90%;
    margin-bottom: 1rem;
}

.action-buttons {
    display: flex;
}

.action-buttons a {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
    text-decoration: none;
    color: var(--white);
    display: flex;
}

.action-buttons a:last-child {
    margin-right: 0;
}

.btn-src {
    background-color: var(--blue);
}

.btn-live {
    background-color: var(--pink);
}

.btn-desc {
    background-color: var(--orange);
}


@media (max-width: 600px) {
    .github-icon-container {
        display: none;
    }
}